
div.row-core{
  
  
  display: flex;
  align-items:center;
  justify-content: center;
  
  
}
div.core-card{
  
  width:350px;
  box-sizing:border-box;
  overflow:hidden;
  display: flex;
  align-items:center;
  justify-content: center;
  
  border-radius: 10px;
  background-color: #f2f3f4;
  padding:10px;
  box-shadow:2px 7px 10px rgb(11, 11, 10);
}
.img-pad:hover{
  transform:scale(1.2);
}